@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
    --card-gap: 30px;
    --card-padding: 24px;
    --card-border-radius: 4px;
    --card-shadow: 2px 2px 2px rgb(185, 185, 185);
    --card-background-color: white;
    --user-gap: 10px;
    --sidebar-gap: 16px;
    --content-gap: 16px;
    --dark-grey-content-font-color: #3f3f46;
    --project-and-search-color: #e5e5e5;
    --sidebar-color: #2196F3;
}

.container {
    min-height: 100vh;
    display: grid;
    grid-template: [start].5fr 3fr[end] / [start]1.3fr 5fr [end];
}

.header {
    display: flex;
    flex-direction: column;
}

.header-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
}

.personal-user {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: var(--sidebar-gap);
    gap: var(--sidebar-gap);
}

.search-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: var(--sidebar-gap);
    gap: var(--sidebar-gap);
    width: 65%;
}

.search {
    width: 80%;
    padding: 10px;
    background-color: var(--project-and-search-color);
    border: none;
    border-radius: 50px;
}

.personal-greeting-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--sidebar-gap);
    padding-left: var(--sidebar-gap);
}

.greeting,
.personal-name {
    font-weight: bold;
}

.personal-header {
    font-weight: bold;
    font-size: 1.3rem;
}

.personal-user,
.post-container {
    width: 25%;
    justify-content: flex-end;
}

.post-container {
    display: flex;
    flex-direction: row;
    gap: var(--sidebar-gap);
    padding-right: var(--sidebar-gap);
}

.post-btns {
    color: white;
    background-color: var(--sidebar-color);
    font-size: .9rem;
    border-radius: 50px;
    padding: 10px;
    width: 85px;
    border: none;
}

.sidebar {
    display: flex;
    flex-direction: column;
    background-color: var(--sidebar-color);
    grid-area: start / start / end / 2;
    color: white;
    font-weight: 400;
    font-size: 1.2rem;
    gap: 2rem;
    justify-content: flex-start;
    align-items: flex-start;
}

.sidebar-subsection {
    display: flex;
    flex-direction: column;
    gap: var(--sidebar-gap);
    padding: 10px;
}

.sidebar-subsection>li {
    display: flex;
    gap: var(--sidebar-gap);
    align-items: center;
    justify-content: flex-start;
}

ul,
li {
    list-style: none;
}

.icon,
.sidebar-icon {
    max-width: 25px;
}

.sidebar-icon,
.dashboard-icon {
    filter: invert(98%) sepia(2%) saturate(7%) hue-rotate(264deg) brightness(114%) contrast(100%);
}

.dashboard-icon {
    max-width: 40px;
}

.dashboard-txt {
    font-size: 2rem;
}

.card-content,
.announcement-content,
.user-name {
    color: var(--dark-grey-content-font-color);
}

.content {
    background-color: var(--project-and-search-color);
    display: grid;
    grid-template-columns: [start]3fr 1fr[end];
    grid-template-rows: [start].4fr .6fr[end];
    gap: var(--sidebar-gap);
    padding: var(--card-padding);
}

.section-header {
    font-size: 1.2rem;
    font-weight: bold;
}

.projects {
    grid-area: start / 1 / end / 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--content-gap);
}

.cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--content-gap);
}

.card {
    display: flex;
    flex-direction: column;
    gap: var(--card-gap);
    background-color: var(--card-background-color);
    padding: var(--card-padding);
    border-left: #fbbf24 8px solid;
    border-radius: var(--card-border-radius);
    box-shadow: var(--card-shadow);
}

.card-title {
    font-size: 1.1rem;
    font-weight: bold;
}

.card-links {
    display: flex;
    gap: 12px;
    justify-content: flex-end;
}

.section-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--content-gap);
}

.announcement-container,
.trending-container {
    background-color: var(--card-background-color);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow: var(--card-shadow);
    display: flex;
    flex-direction: column;
    gap: var(--content-gap);
}

.announcement {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border-bottom: 1px solid var(--project-and-search-color);
    gap: 10px;
    padding: 5px;
}

.announcement-title {
    font-size: 1rem;
    font-weight: bold;
}

.announcement-content {
    font-size: .8rem;
}

.user {
    display: flex;
    justify-content: flex-start;
    gap: var(--user-gap);
}

.user-info {
    display: flex;
    gap: .5rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}